.user_class {
    display: flex;
    align-items: center;
    width: 100%;
    height: 63px;
    background-color: #FFFFFF;
    border-bottom: .5px solid rgb(197, 193, 193);
}

.user_image {
    align-content: flex-start;
    margin-left: 2%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.username_class {
    font-weight: 500;
    margin-left: 2%;
    color: black;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}